body {
    background-color: #000;
    text-align: center;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#main {
    background-color: ;

    width: 80%;
    margin-left: 10%;
}
#titlebar {
    background-color: #eeeeee;
    border: 5px solid #000000;
    color: #111;
    margin-bottom: 10px;
    text-align: center;

}
#title {
    width: 89%;
}
#inputdiv {
    width: 10%;
}
#outfittag {

}
#basicstats {
    background-color: #eeeeee;
    width: 98%;
    border: 3px solid #000000;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
}
.inline {
    display: inline;
}
.inlineblock {
    display: inline-block;
}
#tag {
    display: inline;
}
#outfitname {
    display: inline;
}
#membertotal {
    font-style: italic;
}
.overall {
    background-color: inherit;
    text-align: left;
    display: inline-block;
    width: 30%;
}
.chardata {
    background-color: #eeeeee;
    width: 98%;
    display: inline-block;
    border: 3px solid black;
    margin-bottom: 5px;
}
#list {
    width: 100%;
    border-collapse: collapse;
}
#list th {
    border: 1px solid black;
    background-color: #aaaaaa;
}
#list td {
    border: 1px solid black;
}
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "#";
    display: table-cell;
    border: 1px solid black;
    background-color: #aaaaaa;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    border-collapse: collapse;
    border: 1px solid black;
}